$main-bg-color: #FFFFFF;
$secondary-bg-color: #FFB400;
$title-font-color: #2B2B2B;
$subtitle-font-color: #767676;

.service {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0 50px;
    .serviceMain{
        margin: 20px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .title {
            font-weight: 700;
            font-size: 32px;
            line-height: 123.6%;
            text-transform: capitalize;
            color: $title-font-color;
        }
        .subtitle {
            margin: 10px 0 0;
            width: 438px;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            text-align: center;
            text-transform: capitalize;
            color: $subtitle-font-color;
        }
        .categories {
            margin: 30px 0 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            .category {
                margin: 10px 0;
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 310px;
                height: 225px;
                background: $main-bg-color;
                .image {
                    margin: 35px 0 0;
                    height: 53px;
                    width: 65px;
                }
                .title {
                    margin: 34px 0 0;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 123.6%;
                    text-transform: capitalize;
                    color: $title-font-color;
                }
                .subtitle {
                    width: 260px;
                    margin: 15px 0 0;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 24px;
                    text-align: center;
                    text-transform: capitalize;
                    color: $subtitle-font-color;
                }
                .orderBtn {
                    margin: 15px 0 0;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 14px;
                    color: $secondary-bg-color;
                }
            }
        }

    }
    .pricePlans{
        width: 100%;
        margin: 50px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .title {
            font-weight: 700;
            font-size: 32px;
            line-height: 123.6%;
            text-transform: capitalize;
            color: $title-font-color;
        }
    
        .subtitle {
            margin: 10px 0 0;
            width: 438px;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            text-align: center;
            text-transform: capitalize;
            color: $subtitle-font-color;
        }
        .categories{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .category{
                margin: 50px 0 0;
                width: 310px;
                height: 609px;
                background: $main-bg-color;
                display: flex;
                align-items: center;
                flex-direction: column;
                .categoryType{
                    margin: 54px 0 0;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 123.6%;
                    text-transform: capitalize;
                    color: $title-font-color;
                }
                .headerContainer{
                    margin: 19px 0 0;
                    display: flex;
                    align-items: baseline;
                    width: 145px;
                    height: 40px;
                    .amount{
                        font-weight: 700;
                        font-size: 32px;
                        line-height: 123.6%;
                        text-transform: capitalize;
                        color: $title-font-color;
                    }
                    .hour{
                        margin: 0 10px;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 24px;
                        text-transform: capitalize;
                        color: $title-font-color;
                    }
                }
                .subHeader{
                    margin: 8px 0 0;
                    width: 248px;
                    height: 48px;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 24px;
                    text-align: center;
                    text-transform: capitalize;
                    color: $subtitle-font-color;
                }
                .servicesContent{
                    margin: 21px 0 0;
                    width: 253px;
                    height: 305px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    .serviceSection{
                        display: flex;
                        align-items: center;
                        .check{
                            font-size: 20px;
                            color: $secondary-bg-color;
                        }
                        .cross{
                            color: $subtitle-font-color;
                            font-size: 20px;
                            transform: rotateZ(45deg);
                        }
                        .serviceName{
                            margin: 0 18px;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 24px;
                            text-transform: capitalize;
                            color: $subtitle-font-color;
                        }
                    }
                }
                .orderBtn{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 21px;
                    height: 38px;
                    width: 169px;
                    background: $main-bg-color;
                    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
                    border-radius: 30px;
                }
            }
        }
    }
    .recommendations{
        margin: 70px 0 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;

        .title{
            font-weight: 700;
            font-size: 32px;
            line-height: 123.6%;
            text-transform: capitalize;
            color: $title-font-color;
        }
        .subtitle{
            margin: 25px 0 0;
            width: 438px;
            height: 68px;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            text-align: center;
            text-transform: capitalize;
            color: $subtitle-font-color;
        }
        .referenceContainer{
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .reference{
                padding: 17px;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                width: 310px;
                height: 323px;
                background: $main-bg-color;
                .starsContent{
                    margin: 8px 0 0;
                    width: 130px;
                    height: 17.37px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .star{
                        color: $secondary-bg-color;
                        font-size: 18px;
                    }
                }
                .title{
                    margin: 16px 0 0;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 123.6%;
                    text-transform: capitalize;
                    color: $title-font-color;
                }
                .description{
                    margin: 18px 0 0;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 24px;
                    text-transform: capitalize;
                    color: $subtitle-font-color;
                }
                .characterContent{
                    display: flex;
                    align-items: center;
                    margin: 30px 0 0;
                    height: 80px;
                    width: 100%;
                    .personImg{
                        font-size: 80px;
                        color: $subtitle-font-color;
                    }
                    .info{
                        margin: 0 0 0 13px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        .name{
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 123.6%;
                            text-transform: capitalize;
                            color: $title-font-color;
                        }
                        .work{
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 24px;
                            text-transform: capitalize;
                            color: $subtitle-font-color;
                        }
                    }
                }
            }
        }
    }
}