.contact {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .contactContainer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .infoContainer{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 570px;
            .infoTitle{
                font-weight: 700;
                font-size: 32px;
                line-height: 123.6%;
                text-transform: capitalize;
                color: var(--title-font-color);
            }
            .infoContent{
                margin: 50px 0 0;
                padding: 0 25px;
                width: 570px;
                height: 650px;
                background: var(--main-bg-color);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .formSection{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;
                    .labelName{
                        margin: 25px 0 0;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 123.6%;
                        text-transform: capitalize;
                        color: var(--subtitle-font-color);
                    }
                    .textField{
                        margin: 8px 0 0;
                        padding: 5px;
                        font-size: 18px;
                        width: 100%;
                        height: 30px;
                        outline: none;
                        border: none;
                        background: #F0F0F6;
                    }
                    .textArea{
                        margin: 8px 0 0;
                        padding: 5px;
                        font-size: 18px;
                        width: 100%;
                        outline: none;
                        border: none;
                        background: #F0F0F6;
                        resize: none;
                    }
                }
                .submit{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 25px 0 0;
                    width: 159px;
                    height: 35px;
                    background: var(--themeColor);
                    border: none;
                    outline: none;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    text-transform: uppercase;
                    color: var(--title-font-color);
                    cursor: pointer;
                }
            }
        }
        .contactContainer{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 370px;
            .contactTitle {
                font-weight: 700;
                font-size: 32px;
                line-height: 123.6%;
                text-transform: capitalize;
                color: var(--title-font-color);
            }
        
            .contactContent {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                margin: 50px 0 0;
                width: 570px;
                height: 650px;
                
                .addressContainer,
                .socialMediaContainer,
                .telephoneContainer {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 370px;
                    height: 210px;
                    background: var(--main-bg-color);

                    .iconContainer{
                        margin: 25px 0 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        background: var(--themeColor);
                        border-radius: 50%;
                        .icon{
                            font-size: 18px;
                        }
                    }
                    .textContainer{
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 100%;
                        margin: 18px 0 10px;
                        padding: 0 25px;
                        .textContent{
                            margin: 10px 0 0;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;
                            .key{
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 123.6%;
                                text-transform: capitalize;
                                color: var(--subtitle-font-color);
                            }
                            .value{
                                font-weight: 400;
                                font-size: 15px;
                                line-height: 24px;
                                text-align: right;
                                text-transform: capitalize;
                                color: var(--subtitle-font-color);
                            }
                        }
                    }
                }
            }
        }
    }
    .mapContainer{
        margin: 40px 0 0;
        width: 970px;
        height: 300px;
        .map{
            height: 100%;
            width: 100%;
        }
    }
}