@import "../../styles/global.style.scss";

.homeContainer {
    display: flex;
    background-color: #E5E5E5;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;

    .leftMenu {
        width: 290px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #FFFFFF;
        .profile {
            margin: 50px 46px 0 40px;
            width: 219px;
            height: 281px;
            display: flex;
            align-items: center;
            flex-direction: column;
            .profileImg{
                width: 150px;
                height: 150px;
            }
            .name{
                margin: 31px 0 0    ;
                font-weight: 500;
                font-size: 18px;
                line-height: 123.6%;
                display: flex;
                align-items: center;
                text-transform: capitalize;
                color: #2B2B2B;
            }
            .positionName{
                margin: 15px 0 ;
                font-weight: 400;
                font-size: 15px;
                line-height: 24px;
                text-transform: capitalize;
                font-feature-settings: 'calt' off, 'kern' off;
                color: #767676;
            }
            .socialIcon{
                width: 219px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                img{
                    width: 24px;
                    height: 24px;
                }
            }
        }
        .infoContainer{
            margin: 25px 0 0;
            border-top: 1.5px solid #F0F0F6;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 10px;
                display: none;
            }
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }
            &::-webkit-scrollbar-thumb {
                background: #888;
            }
            .infoContent{
                .dividerLine{
                    background-color: #F0F0F6;
                    height: 1.5px;
                    width: 100%;
                    margin: 25px 0;
                }
                .aboutContainer,
                .languages  {
                    margin: 25px 0 0;
                    width: 220px;
                    height: 126px;
                    background-color: aqua;
                }

                .aboutContainer{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    .aboutContent{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;

                        .label{
                            width: fit-content;
                            padding: 0 5px;
                            height: 24px;
                            background: #FFB400;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 24px;
                            text-transform: capitalize;
                            color: #2B2B2B;
                        }
                    }
                }
            }
        }
    }

    .mainContent {
        width: 970px;
        height: 467px;
        background-color: blue;
    }

    .rightNav {
        width: 70px;
        height: 100vh;
        background-color: brown;
    }
}