.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    .logosContainer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 970px;
        height: 140px;
        .logo{
            width: 140px;
            height: 140px;
        }
    }
    .footerContent{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 970px;
        height: 60px;
        background: var(--main-bg-color);
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        text-transform: capitalize;
        color: var(--title-font-color);
        margin: 89px 0 0;
    }
}