.rightNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70px;
    height: 100vh;
    background-color: #FFFFFF;
    .contrast {
        margin: 52px 0 0;
        font-size: 25px;
        &:hover {
            cursor: pointer;
        }
    }
    .menu {
        margin: 100px 0 0;
        width: 45px;
        height: 400px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        .iconContent {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            &.active{
                background: #FFB400;
                .icon{
                    color: #2B2B2B;
                }
            }
            &:hover {
                background: #FFB400;
                cursor: pointer;
                .icon {
                    color: #2B2B2B;
                }
            }
            .icon {
                font-size: 18px;
                color: #767676;
            }
        }
    }
}