.rightNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70px;
    height: 100vh;
    background-color: var(--main-bg-color);
    .contrast {
        margin: 52px 0 0;
        font-size: 25px;
        color: var(--mode-icon-color);
        &:hover {
            cursor: pointer;
        }
    }
    .menu {
        margin: 100px 0 0;
        width: 45px;
        height: 420px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        .iconContent {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            position: relative;
            background-color: var(--icon-bg-color);
            &::after{
                position: absolute;
                content: attr(datatype);
                width: 65px;
                height: 24px;
                background-color: var(--title-font-color);
                transform: translateY(-11px);
                opacity: 0;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                color: var(--main-bg-color);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .5s ease;
            }
            &::before {
                position: absolute;
                content: "";
                height: 10px;
                width: 10px;
                background-color: var(--title-font-color);
                transform: translateY(0px) rotateZ(45deg);
                opacity: 0;
                transition: all .5s ease;
            }
            &.active{
                background: var(--themeColor);
                .icon{
                    color: var(--title-font-color);
                }
                &::after {
                    transform: translateY(-40px);
                    opacity: 1;
                }

                &::before {
                    transform: translateY(-29px) rotateZ(45deg);
                    opacity: 1;
                }
            }
            &:hover {
                background: var(--themeColor);
                cursor: pointer;
                transition: all 1s ease;
                .icon {
                    color: var(--title-font-color);
                }
                &::after{
                    transform: translateY(-40px);
                    opacity: 1;
                    cursor: default;
                }
                &::before{
                    transform: translateY(-29px) rotateZ(45deg);
                    opacity: 1;
                }
            }
            .icon {
                font-size: 18px;
                color: var(--icon-color);
            }
        }
    }
}