.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #E5E5E5;
  box-sizing: border-box;
}

/* @media screen and (max-width: 1370px) {
  .App {
    zoom: .934;
  }
} */